.rus-tab-item-container {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -17px; /* Dummy scrollbar placeholder */
    z-index: 1; /* Placed below top tabs, the overlap part is the scrollbar */
}

.rus-tab-item {
    width: 90%;
    height: 90%;
    position: relative;
    box-sizing: border-box;
}
