.rus-tabs {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
}

    .rus-tabs > .titles {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .rus-tabs::-webkit-scrollbar {
        display: none;
    }

    .rus-tabs:hover::-webkit-scrollbar {
        display: block;
    }

    .rus-tabs > .dummy-scrollbar {
        display: block;
        height: 17px;
    }

    .rus-tabs:hover > .dummy-scrollbar {
        display: none;
    }

.rus-tabs-title {
    background: var(--color-dark-lighten);
    cursor: pointer;
    padding: 8px;
    color: var(--color-light);
    font-size: 0.8rem;
    box-shadow: inset -10px 0px 10px -10px rgba(0, 0, 0, 0.5), inset 0px -10px 10px -10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    min-width: 150px;
    max-width: 200px;
}

    .rus-tabs-title > * {
        padding: 4px;
    }

    .rus-tabs-title:not(.active):hover {
        filter: brightness(110%);
    }

    .rus-tabs-title > .icon,
    .rus-tabs-title > .button {
        width: 24px;
        flex-shrink: 0;
    }

    .rus-tabs-title > .button {
        display: none;
    }

    .rus-tabs-title > .label {
        flex-grow: 1; 
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
    }

    .rus-tabs-title.active:hover > .button {
        display: block;
    }

    .rus-tabs-title.active {
        background: var(--gradient-dark);
        color: var(--color-light);
        box-shadow: none;
    }

    .rus-tabs-title.closed {
        overflow: hidden;
        width: 0px;
        animation: removePadding 0.2s forwards;
    }

@keyframes removePadding {
    from {
        padding: 8px;
        min-width: 150px;
    }

    to {
        padding: 0px;
        min-width: 0px;
    }
}