.rus-tab-item-container {
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -17px; /* Dummy scrollbar placeholder */
    z-index: 1; /* Placed below top tabs, the overlap part is the scrollbar */
}

.rus-tab-item {
    width: 90%;
    height: 90%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.rus-tab-item-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    font-size: 2rem;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.rus-tab-item-header-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-width: 100%;
}

.rus-tab-item-background {
    width: 100%;
    flex-grow: 1;
    background-color: var(--color-dark);
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
