@if (TabsContainer.ActiveTab == this)
{
    @if (UseDefaultContainer)
    {
        <div class="rus-tab-item-container">
            <div class="rus-tab-item">
                @ChildContent
            </div>
        </div>
    }
    else
    {
        @ChildContent
    }
}

@* TODO: Consider changing this to conditional display:none instead, to keep states *@

@code {
    [CascadingParameter(Name = "TabsContainer")]
    public RusTabs TabsContainer { get; set; }

    [Parameter]
    public string? Name { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? IconName { get; set; } = null;

    [Parameter]
    public bool IsClosable { get; set; } = true;

    [Parameter]
    public bool UseDefaultContainer { get; set; } = true;

    // Used by RusTabs
    public bool IsClosed { get; set; } = false;

    protected override void OnInitialized()
    {
        TabsContainer.TabItems.Add(this);
        base.OnInitialized();
    }
}