@import url("element_scrollbar.css");
@import url("var_zindex.css");

:root {
    --rus-menu-item-hover-background: #666;
    --rus-menu-item-hover-color: white;
    background-color: #333;
}

* {
    user-select: none;
}

.allow-select {
    user-select: auto;
}


.rus-background-overlay {
    content: "";
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    display: block;
}