:root {
    --zindex-modelview: 90;
    --zindex-background-overlay: 100;
    --zindex-input-active: 105;
    --zindex-compare-button-active: 106;
    --zindex-menu-bg: 109;
    --zindex-menu: 110;
    --zindex-dialog: 111;
    --zindex-footer: 1000;
    --zindex-header: 1000;
}
