<div class="@($"rus-modelbox-container center-content {(Required ? "required" : "")}")" style="@(PositionStyle())">
    <div class="rus-modelbox center-content">
        <div style="margin: 5px">
            @TableName
        </div>
    </div>
    @if (Right != null)
    {
        <div class="rus-modelbox-reference right" />
    }
    @if (Left != null)
    {
        <div class="rus-modelbox-reference left" />
    }
    @if (Top != null)
    {
        <div class="rus-modelbox-reference top" />
    }
    @if (Bottom != null)
    {
        <div class="rus-modelbox-reference bottom" />
    }
</div>


@code {
    [Parameter]
    public string? TableName { get; set; }

    [Parameter]
    public bool Required { get; set; } = false;

    [Parameter]
    public int GridX { get; set; }

    [Parameter]
    public int GridY { get; set; }

    [Parameter]
    public (string, string)? Right { get; set; }

    [Parameter]
    public (string, string)? Left { get; set; }

    [Parameter]
    public (string, string)? Top { get; set; }

    [Parameter]
    public (string, string)? Bottom { get; set; }


    string PositionStyle()
    {
        return $"left:calc(var(--rus-modelbox-container-width) * {GridX});top:calc(var(--rus-modelbox-container-height) * {GridY});";
    }
}
