<div class="@($"rus-background-overlay {(visible ? "visible" : "invisible")}")" style="@(PositionStyle())" @onclick="HandleClick">
    @ChildContent
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool CloseOnClick { get; set; } = true;

    [Parameter]
    public bool FixedPosition { get; set; } = true;

    bool visible = true;

    async void HandleClick()
    {
        if(CloseOnClick)
            visible = false;
        await OnClick.InvokeAsync();
    }

    public string PositionStyle()
    {
        return FixedPosition ? "position: fixed;z-index:3;" : "position: absolute;";
    }

    public void Close()
    {
        visible = false;
        this.StateHasChanged();
    }
}
