.rus-background-overlay {
    content: "";
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0);
    display: block;
}
    .rus-background-overlay.visible {
        animation: fadein 0.2s ease forwards;
    }

    .rus-background-overlay.invisible {
        pointer-events:none;
        animation: fadeout 0.2s ease forwards;
    }

@keyframes fadein {
    from {
        background-color: rgb(0, 0, 0, 0);
    }

    to {
        background-color: rgb(0, 0, 0, 0.5);
    }
}

@keyframes fadeout {
    from {
        background-color: rgb(0, 0, 0, 0.5);
    }

    to {
        background-color: rgb(0, 0, 0, 0);
    }
}