.rus-compare-button {
    position: absolute;
    margin-top: -34px;
    margin-left: -11px;
    z-index: 1;
    transition: 0.2s ease;
}

    .rus-compare-button.active {
        z-index: var(--zindex-compare-button-active);
    }
