@using Extensions;
@using RusBlazor.Components.Button;
@using RusBlazor.Components.ModelView;
@using RusBlazor.Components.Dialog;

@page "/"

<RusDialog @ref="_dialog"/>



<div style="width: 800px; height: 400px;">
    <RusModelView>
        <RusModelBox TableName="Hello Hello Hello Hello" Right="@(("Yo", "Yo"))" Bottom="@(("Yo", "Yo"))" GridX="0" GridY="0" Status="Enums.ModelBoxStatus.REQUIRED" OnClick="OpenDialog" />
        <RusModelBox TableName="Hello Hello Hello Hello" GridX="1" GridY="0" />
        <RusModelBox TableName="Hello Hello Hello Hello" Bottom="@(("Yo", "Yo"))"  GridX="0" GridY="1" />
        <RusModelBox TableName="Hello Hello Hello Hello" Right="@(("Yo", "Yo"))"  GridX="0" GridY="2" />
        <RusModelBox TableName="Hello Hello Hello Hello" GridX="1" GridY="2" />


    </RusModelView>
</div>



@code {
    RusDialog? _dialog;


    async void OpenDialog()
    {
        var buttons = new List<(string, EventCallback, RusBlazor.Enums.Color)>();
        buttons.Add(("Test", new (this, new Action(Nothing)), RusBlazor.Enums.Color.PRIMARY));
        await _dialog.OpenWithButtonsAsync(typeof(Test), buttons);
    }

    async void Nothing()
    {
        await _dialog.CloseAsync();
    }
}