.rus-dialog {
    background-color: var(--color-dark);
    padding: 20px;
    z-index: var(--zindex-dialog);
    position: relative;
}

    .rus-dialog.opening {
        animation: open 0.2s forwards;
    }

    .rus-dialog.closing {
        animation: close 0.2s forwards;
    }

.rus-dialog-exit {
    position: absolute;
    right: -12px;
    top: -12px;
}

.rus-dialog-buttons {
    position: absolute;
    right: 12px;
    bottom: -12px;
}

@keyframes open {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes close {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}
