.rus-input-container {
    position: relative;
    border: 1px solid var(--color-element-active-border);
    border-radius: 5px;
    background-color: #424242;
    cursor: text;
    height: 38px;
    overflow: hidden;
    padding-bottom: 4px;
}

    .rus-input-container.active {
        z-index: var(--zindex-input-active);
    }

.rus-input {
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    color: #f2f2f2;
    height: 42px;
    font-size: 1.2rem;
    padding-left: 12px;
    padding-right: 12px;
}

.rus-input-label {
    position: relative;
    font-size: 0.9rem;
    color: #d3d3d3;
    font-weight: bold;
    padding-left: 4px;
}

    .rus-input-label.active {
        z-index: var(--zindex-input-active);
    }
