.rus-input-container {
    position: relative;
    border: 1px solid var(--color-light);
    outline: 1px solid rgba(0, 0, 0, 0);
    background-color: var(--color-dark-lighten);
    cursor: text;
    height: 38px;
    overflow: hidden;
    padding-bottom: 4px;
    transition: ease 0.2s;
    z-index: 0;
}

    .rus-input-container.compare-hover {
        z-index: var(--zindex-input-active);
        border: 1px solid var(--color-tertiary);
        outline: 1px solid var(--color-tertiary);
    }

    .rus-input-container.active {
        z-index: var(--zindex-input-active);
        border: 1px solid var(--color-primary);
        outline: 1px solid var(--color-primary);
    }

    .rus-input-container.disabled {
        filter: grayscale(100%);
        opacity: 0.6;
    }

    .rus-input-container:not(.compare-hover):not(.active):not(.disabled):hover {
        outline: 1px solid var(--color-light);
    }

.rus-input {
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--color-light);
    height: 42px;
    font-size: 1.2rem;
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
}

    .rus-input.active {
        text-overflow: clip;
    }

    .rus-input:disabled {
        cursor: auto;
    }

.rus-input-label {
    position: relative;
    font-size: 0.9rem;
    color: var(--color-light);
    font-weight: bold;
    padding-left: 4px;
    transition: ease 0.2s;
    z-index: 0;
}

    .rus-input-label.compare-hover {
        z-index: var(--zindex-input-active);
        color: var(--color-tertiary);
    }

    .rus-input-label.active {
        z-index: var(--zindex-input-active);
        color: var(--color-primary);
    }

    .rus-input-label.disabled {
        filter: grayscale(100%);
        opacity: 0.6;
    }

.rus-input-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
