.rus-input-container {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #424242;
    cursor: text;
    height: 38px;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
}

    .rus-input-container:hover > .rus-input {
        height: 26px;
        font-size: 1rem;
    }

    .rus-input-container:hover > .rus-input-subtext {
        width: calc(100% - 16px - 6px); /* margin x 2 and padding */
        margin-left: 8px;
    }


.rus-input {
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    color: #f2f2f2;
    transition: all 0.2s ease;
    height: 42px;
    font-size: 1.2rem;
    width: 240px; /* Temp */
    padding-left: 8px;
    padding-right: 8px;
}

    .rus-input.active {
        height: 26px;
        font-size: 1rem;
    }

.rus-input-subtext {
    width: 100%;
    border-top: 1px solid #b3b3b3;
    font-size: 0.6rem;
    color: #b3b3b3;
    transition: all 0.2s ease;
    padding-left: 6px;
}

.rus-input-subtext.active {
    width: calc(100% - 16px - 6px); /* margin x 2 and padding */
    margin-left: 8px;
}

.rus-input-label {
    padding-left: 4px;
    font-size: 0.9rem;
    color: #d3d3d3;
    font-weight: bold;
}
