@using RusBlazor.Handlers

<div class="rus-footer">
    <div class="rus-footer-tooltip-text">
        @if (!string.IsNullOrWhiteSpace(_tooltipText))
        {
            <RusIcon IconName="info" Style="margin-right: 6px;" />
            <span>
                @(new MarkupString(_tooltipText))
            </span>
        }
    </div>
    <div>
        <span>
            @Text
        </span>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    string _tooltipText = "";

    protected override void OnInitialized()
    {
        TooltipHandler.RegisterTooltipEventCallback(SetTooltipText);
        base.OnInitialized();
    }

    void SetTooltipText(string text)
    {
        _tooltipText = text;
        this.StateHasChanged();
    }
}
