.rus-multiselect {
    position: relative;
    display: inline-block;
}

.rus-multiselect-button-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-items: stretch;
}

.rus-multiselect-pagination-group {
    display: flex;
}

.rus-multiselect-pagination-text {
    width: 50%;
    text-align: center;
}
