.rus-menu-content {
    color: var(--color-light);
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: linear-gradient(to right, var(--color-primary-darken) 0%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.1s ease;
}

    .rus-menu-content.checked {
        background-position: left bottom;
    }

.multiselect-checkbox {
    display: flex;
    padding-left: 8px;
    align-items: center;
    justify-content: center;
}

.text-key {
    padding-left: 8px;
    font-size: 1rem;
    overflow-wrap: break-word;
}

.text-value {
    font-size: 0.8rem;
    padding-left: 12px;
}
