* {
    --frame-width: 2px;
}

.rus-menu {
    position: absolute;
    z-index: var(--zindex-menu);
    width: calc(95% - var(--frame-width) * 2);
    padding: var(--frame-width);
    box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.4);
    border-radius: 6px;
    background: transparent;
    overflow: hidden;
    opacity: 0;
    min-width: 200px;
}

    .rus-menu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: var(--zindex-menu-bg);
        background-color: var(--color-dark);
        /*
        background: var(--gradient-dark);
            */
    }



.rus-menu-top {
    background-color: transparent;
    border-radius: var(--frame-width);
    z-index: var( --zindex-menu);
    position: relative;
}

.rus-menu-dropdown {
    background-color: var(--color-dark-lighten);
    overflow-y: scroll;
    margin-left: var(--frame-width);
    margin-right: var(--frame-width);
    box-shadow: inset 0 0 10px #000000;
    z-index: var( --zindex-menu);
    position: relative;
}

    .rus-menu-dropdown.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
        gap: 3px;
        overflow: auto;
    }


.rus-menu-bottom {
    background-color: transparent;
    border-radius: var(--frame-width);
    z-index: var( --zindex-menu);
    position: relative;
}

.hide-scrollbar {
    overflow: hidden !important;
    padding-right: 20px !important;
}
