<div class="rus-menu-grid-content">
    <div class="rus-menu-grid-content-header">
        @Header
    </div>
    <div class="rus-menu-grid-content-wrapper">
        <div class="rus-menu-grid-content-items">
            <RusMenuItem>
                Search by ID
            </RusMenuItem>
            <RusMenuItem>
                Search by Display ID
            </RusMenuItem>
            <RusMenuItem>
                Start empty
            </RusMenuItem>
        </div>
        <div>
            <RusIcon IconName="@IconName" Style="font-size: 128px;" />
        </div>
    </div>
    <div class="rus-menu-grid-content-description">
        @Description
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; } = "";

    [Parameter]
    public string Description { get; set; } = "";

    [Parameter]
    public string IconName { get; set; } = "";
}
