.rus-menu-item {
    font-family: Consolas, 'Courier New', monospace;
    padding: 5px;
    cursor: auto;
}

    .rus-menu-item.selected {
        font-weight: bold;
    }

    .rus-menu-item.hoverable:hover {
        background: var(--color-light-darken);

        cursor: pointer;
    }

    .rus-menu-item.separator {
        border-bottom: 1px solid var(--color-light-darken);
    }
