.rus-menu {
    position: absolute;
    z-index: var(--zindex-menu);
    width: calc(100% - 8px);
    padding: 4px; /* Adding padding equivalent to the border width */
    box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.4);
    border-radius: 6px;
    background: transparent;
    overflow: hidden;
    opacity: 0;
}

    .rus-menu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: var(--zindex-menu-bg);
        background-color: #2a2a72; /* fallback */
        background: linear-gradient(to bottom left, #333333, #204593, #009ffd);
    }



.rus-menu-top {
    background-color: #424242;
    border-radius: 6px;
    z-index: var( --zindex-menu);
    position: relative;
}

.rus-menu-dropdown {
    background-color: #424242;
    overflow-y: scroll;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: inset 0 0 10px #000000;
    z-index: var( --zindex-menu);
    position: relative;
}

.rus-menu-bottom {
    background-color: #424242;
    border-radius: 6px;
    z-index: var( --zindex-menu);
    position: relative;
}
