<div class="@($"rus-menu-content {(Checked ? "checked" : "")}")">
    @if (Multiselect)
    {
        <div class="multiselect-checkbox">
            <RusCheckbox Value="Checked" />
        </div>
    }
    <div style="display:block;">
        <div class="text-key">
            @(Value ?? "")
        </div>
        <div class="text-value">
            @(Key ?? "")
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Key { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public bool Multiselect { get; set; } = false;

    [Parameter]
    public bool Checked { get; set; }
}
