.rus-menu {
    position: absolute;
    z-index: 2;
    background-color: red;
    border: 10px solid transparent;
    width: 100%;
    opacity: 0;
    box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.rus-menu-dropdown {
    overflow-y: scroll;
}